{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Checkout" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Checkout" %}</h1>
    {% comment %} Order info {% endcomment %}
    <div class="order-info">
        <h3>{% translate "Your order" %}</h3>
        <ul>
            {% for item in cart %}
                <li>
                  {{ item.quantity }}x {{ item.product.name }}
                  <span>${{ item.total_price|floatformat:2 }}</span>
                </li>
            {% endfor %}
            {% comment %} Coupon info {% endcomment %}
            {% if cart.coupon %}
                <li>
                    {% blocktranslate with code=cart.coupon.code discount=cart.coupon.discount %}
                    <span class="coupon-details">"{{ code }}" ({{ discount }}% off)</span>
                    {% endblocktranslate %}
                    <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
                </li>
            {% endif %}
            {% comment %} Shipping info {% endcomment %}
            {% if cart.get_shipping_cost > 0 %}
            <li>
                {% translate "Shipping" %} 
                <span>${{ cart.get_shipping_cost|floatformat:2 }}</span>
            </li>
            {% endif %}
        </ul>
        {% comment %} Total {% endcomment %}
        <p>{% translate "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
    </div>
    <form action="{% url "orders:order_create" %}" method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="{% translate 'Place order' %}"></p>
        {% csrf_token %}
        <button type="submit" class="button">{% translate "Place order" %}</button>
    </form>
{% endblock %}